
    h1{
        color: red; 
        background-color: grey;
    }

    P{
        color: red; 
        background-color: cornflowerblue;
    }

    button {
        color: blue; 
        background-color: blueviolet;
    }